.menu{
    margin-left: 300px;
    width: 100%;
}
.nav-style{
    box-shadow: 0px 0px 15px black;
    background-color:#c3e5ff;
    height: 10vh;
}
.icon-input{
    display: flex;
    align-items: center;
}
.icon{
    background-color: #a1d8ff;
    height: 45px;
    width: 30px;
    border: 3px solid #5ba3d7;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: rgb(39, 39, 39);
}
.input{
    background-color: #a1d8ff;
    height: 45px;
    width: 400px;
    outline: none;
    border: 3px solid #5ba3d7;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.link{
    text-decoration: none;
    color:black;
}
.nav-btn{
    height: 30px;
}
.cart-dot{
    top: 5px;
    border: 1px solid white;
}